body {
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav-name {
  color: var(--Dark-01, #181818);
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.r {
  color: #fd6e0a;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftdeveloper {
  color: rgba(24, 24, 24, 0.15);
  font-family: Open Sans;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 33px;
}

.banner .pro-pic {
  width: 700px;
  height: 800px;
}

.banner-greeting {
  color: var(--Dark-02, #474747);
  font-size: 45px;
  margin-bottom: 0;
}

.banner-title {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-des {
  color: #757575;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  width: 585px;
  margin-bottom: 30;
}

main {
  max-width: 1140px;
  max-height: 550px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
}

.about-me {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}

.sec-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.sec-des {
  color: #757575;
  text-align: center;
  font-size: 18px;
}

.about-container {
  display: flex;
  justify-content: space-around;
}

.about-inf {
  text-align: center;
}

.info-title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.info-description {
  color: #474747;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

#what-i {
  padding: 30px 150px;
  text-align: center;
}

.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.resume-column-title {
  color: #474747;
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
}

.resume-container {
  display: flex;
  gap: 50px;
}

.resume-item-title {
  color: #474747;
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.resume-item-institute {
  color: #757575;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.resume-item-descriptions {
  color: #757575;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* RESPONSIVE*/

@media screen and (max-width: 576px) {
  .header {
    background-image: none;
  }

  .banner {
    flex-direction: column;
  }
  .pro-pic {
    width: auto;
  }
  .skill-container {
    flex-direction: column;
  }

  .resume-container {
    flex-direction: column;
  }

  #what-i {
    padding: 20px;
  }

  .about-me {
    padding: 20px;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
}
